<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5">
    <StackLayout class="cardContent">
        <Label *ngIf="!isDataAvailable" text="Inga tidigare beläggningar tillgängliga"></Label>
        <StackLayout *ngIf="isDataAvailable">
            <Label class="h2" text="Senaste beläggning" horizontalAlignment="center"></Label>
            <GridLayout rows="auto" columns="*, auto, *">
                <Label col="0" [text]="currentPaving.StartContinuousLength" class="h3"></Label>
                <Label col="1" [text]="currentPaving.PavementDate | date:'yyyy/MM/dd'" class="h2"></Label>
                <Label col="2" [text]="currentPaving.EndContinuousLength" class="h3" horizontalAlignment="right"></Label>
            </GridLayout>
            <GridLayout [columns]="pbColumns" class="progressbar m-y-3">
                <StackLayout col="0" class="progressbar-value"></StackLayout>
            </GridLayout>
            <Label [text]="currentPaving.PavementType" horizontalAlignment="center"
                class="font-weight-bold"></Label>
            <StackLayout *ngIf="nextPaving" id="nextPavingContainer" class=" m-t-5">
                <Label horizontalAlignment="center" text="Nästa: {{nextPaving.StartContinuousLength}}m" class="h2"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</CardView>
<!--
<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5">
    <StackLayout>
        <Button (tap)="testTap()" text="TEST"></Button>
        <Label text="{{ test }}"></Label>
    </StackLayout>
</CardView>
-->

