
<GridLayout class="page" rows="*, auto" width="100%">
    <StackLayout class="p-20" row="0">
        <Image src="res://mylogo" stretch="fill" class="logoimg"></Image>
        <StackLayout class="input-field">
            <Label text="Välj län" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteCounties" suggestMode="Suggest">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5"></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field" style="margin-top: 20">
            <Label text="Välj väg" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteRoads" suggestMode="Suggest">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5"></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
    </StackLayout>


    <!-- YOUR BOTTOM BAR (StackLayout). Don't forget to add row="1" -->
    <StackLayout #bottomElt row="1">
        <Button row="1" text="Nästa sida" class="btn btn-primary btn-rounded-sm" (tap)="toDashboard()" style="margin-bottom: 20"></Button>
    </StackLayout>
</GridLayout>
