/* Add mobile styles for the component here.  */
ListPicker{
    border: 1;
}
Button{
    height: 60;
    font-size: 25;
}

.logoimg{
    height: 100;
    margin: 50;

}
TextField{
    margin: 20;

}
