<ActionBar title="Inställningar" class="action-bar">
</ActionBar>
<ScrollView>
    <StackLayout class="p-15">
        <GridLayout rows="auto,auto" columns="auto,*">
            <Label row="0" col="0" class="h2" text="Mörkt tema" horizontalAlignment="left" verticalAlignment="center"></Label>
            <Switch row="0" col="1" [checked]="isDarkModeTurnedOn" (checkedChange)="setDarkMode($event)"
                horizontalAlignment="right" verticalAlignment="center"></Switch>
        </GridLayout>
        <StackLayout class="hr-light m-x-10 m-y-20"></StackLayout>

        <GridLayout rows="auto, auto, auto" columns="auto,*">
            <Label row="0" col="0" colspan="2" text="Moduler som visas i gränssnittet:" class="h2 m-b-25"></Label>
            <Label row="1" col="0" text="Graf med fyra mätvärden" class="m-b-15 m-t-15"  horizontalAlignment="left" verticalAlignment="center"></Label>
            <Switch row="1" col="1"  [checked]="isGraphComponentActivated" (checkedChange)="setGraphComponentVisibility($event)"
                class="m-b-15 m-t-15" horizontalAlignment="right" verticalAlignment="center"></Switch>
            <Label row="2" col="0" text="Beläggningsdata" horizontalAlignment="left" verticalAlignment="center"></Label>
            <Switch row="2" col="1"  [checked]="isPavingsComponentActivated" (checkedChange)="setPavingsComponentVisibility($event)"
                 horizontalAlignment="right" verticalAlignment="center"></Switch>
        </GridLayout>
        <StackLayout class="hr-light m-x-10 m-y-20"></StackLayout>
        <Label text="Graf" class="h2 m-b-25"></Label>
        <Label text="Förvald sida vid uppstart:" class="m-t-10 m-l-10"></Label>
        <StackLayout id="graphValueDDContainer"  class="form m-t-15">
            <DropDown #graphValueDD id="graphValueDropDown" class="input input-rounded " verticalAlignment="center"
                (selectedIndexChanged)="onGraphValueChanged($event)"></DropDown>
        </StackLayout>
        <Label text="Intervall för inhämtad data:" class="m-t-10 m-l-10"></Label>
        <StackLayout id="graphIntervalDDContainer"  class="form m-t-15">
            <DropDown #graphIntervalDD id="graphIntervalDropDown" class="input input-rounded " verticalAlignment="center"
                (selectedIndexChanged)="onGraphIntervalChanged($event)"></DropDown>
        </StackLayout>
        <StackLayout class="hr-light m-x-10 m-y-20"></StackLayout>
        <Label  text="Experimentella funktioner" class="h2 m-b-15"  horizontalAlignment="left" verticalAlignment="center"></Label>
        <GridLayout rows="auto" columns="auto,*"  class="m-t-10 m-b-10">
            <Label row="0" col="0"  text="Hämta extra data för graf" horizontalAlignment="left" verticalAlignment="center"></Label>
            <Switch #graphOfflineSwitch row="0" col="1" [checked]="isOfflineGraphDataActivated" (checkedChange)="setOfflineGraphDataActivation($event)"
                 horizontalAlignment="right" verticalAlignment="center"></Switch>
        </GridLayout>
        <Label id="infoText" class="h3" textWrap="true"
             text="(Gör att grafen visas längre vid förlorad kontakt med databasen. Ökar mobildata-användning) "></Label>
        <GridLayout rows="auto" columns="auto,*" class="m-b-15">
            <Label row="0" col="0"  text="Hastighetskorrigera löpande längd" horizontalAlignment="left" verticalAlignment="center"></Label>
            <Switch row="0" col="1" [checked]="isSpeedCalcActivated" (checkedChange)="setSpeedCalcActivation($event)"
                 horizontalAlignment="right" verticalAlignment="center"></Switch>
        </GridLayout>
         <Label id="infoText" class="h3" textWrap="true"
             text="(Om du har problem med att löpande längd-siffran hoppar fram och tillbaka, testa att stänga av denna.)"></Label>
    </StackLayout>
</ScrollView>
