<ActionBar title="{{ selectedRoad.road }} - {{ selectedRoad.county }}" class="action-bar">
    <ActionItem>
		<StackLayout>
			<Button class="fas" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
		</StackLayout>
	</ActionItem>
</ActionBar>
<StackLayout *ngIf="!isOnSelectedRoad">
    <CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5">
        <StackLayout class="cardContent">
            <Label text="Verktyget är redo att användas!" class="h2 fontBold" horizontalAlignment="center" textWrap="true"></Label>
            <Label text="När du har anlänt till vald väg, stanna bilen på ett säkert ställe och aktivera verktyget genom att trycka på knappen nedan." horizontalAlignment="center"  textWrap="true"></Label>
            <Button class="btn btn-success btn-rounded-sm btn-primary" text="Aktivera" (tap)="checkIfOnSelectedRoad()"></Button>
        </StackLayout>
    </CardView>
</StackLayout>
<GridLayout *ngIf="isOnSelectedRoad" class="page" rows="*, auto">
    <StackLayout row="0" class="p-10">
        <ns-destination></ns-destination>
        <ns-location></ns-location>
        <ns-paving [selectedRoad]="selectedRoad"></ns-paving>
    </StackLayout>
    <StackLayout row="1">
        <Button text="Avsluta" class="btn btn-danger btn-rounded-sm btn-primary" (tap)="cancelAlert()"></Button>
    </StackLayout>
</GridLayout>

