<ActionBar title="{{ selectedRoad.roadId }} - {{ selectedRoad.county }} - {{ selectedRoad.direction }}" class="action-bar">
    <ActionItem>
		<StackLayout>
			<Button class="fas" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
		</StackLayout>
	</ActionItem>
</ActionBar>
<StackLayout *ngIf="!isOnSelectedRoad">
    <CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5">
        <StackLayout class="cardContent">
            <Label text="Verktyget är redo att användas!" class="h2 fontBold" horizontalAlignment="center" textWrap="true"></Label>
            <Label text="När du har anlänt till vald väg, aktivera verktyget genom att trycka på knappen nedan." horizontalAlignment="center"  textWrap="true"></Label>
            <Button class="btn btn-success btn-rounded-sm btn-primary" text="Aktivera (Offline)" (tap)="checkIfOnSelectedRoad()"></Button>
            <Label text="{{ testResponse }}" horizontalAlignment="center"  textWrap="true"></Label>
            <Button class="btn btn-success btn-rounded-sm" text="TEST (API)" (tap)="testGetFromApi()"></Button>
            <Button class="btn btn-success btn-rounded-sm" text="TEST (API + SPEEDCALC)" (tap)="testGetFromApiWithSpeedCalc()"></Button>
            <Button class="btn btn-danger btn-rounded-sm" text="Avbryt" (tap)="cancelAlert()"></Button>
        </StackLayout>
    </CardView>
    <ActivityIndicator width="100" height="100" row="0" rowSpan="5" colSpan="2" #activityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
</StackLayout>
<GridLayout *ngIf="isOnSelectedRoad" class="page" columns="*" rows="*,auto">

    <StackLayout row="0">

        <StackLayout class="p-10" rows="*, auto">

            <StackLayout row="0">
                <ns-graph></ns-graph>
                <StackLayout><Label text=" "></Label></StackLayout>
            </StackLayout>

            <StackLayout row="1" >
                <GridLayout columns="*,*" rows="auto" >
                    <ns-continuous-length></ns-continuous-length>
                    <ns-graph-value></ns-graph-value>
                </GridLayout>
                <ns-location></ns-location>
                <ns-paving [selectedRoad]="selectedRoad"></ns-paving>
            </StackLayout>

        </StackLayout>

    </StackLayout>

    <StackLayout class="connection-status-bar" row="1" *ngIf="!connectionStatus">
            <Label class="title-internet" text="{{(internetConnectionService.connectionStatus$ | async) ? 'App är online' : 'Appen är offline'}}"></Label>
    </StackLayout>

</GridLayout>
