/* Add mobile styles for the component here.  */

.connection-status-bar{
  background-color: #CE3743;
  padding: 1px 0px;
  text-align: center;
  margin-top: 0;
}

.title-internet{
    color: #f2f2f2;
}
