<Button *ngIf="!isDestinationActive()" class="btn btn-rounded-sm btn-success btn-active" text="Lägg till destination" (tap)="addDestination()" margin="5"></Button>
<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5">
    <GridLayout *ngIf="isDestinationActive()" rows="auto, auto" columns="*, auto, *" id="destinationontainer"
    class="cardContent">
        <Label row="0" col="1" class="h2"
            horizontalAlignment="center" text="Destination ({{destinationValue}}m)"></Label>
        <Button class="fas exitBtn" row="0" col="2" text="&#xf00d;" (tap)="showAlert()" horizontalAlignment="right"></Button>
        <Label row="1" col="1"
            horizontalAlignment="center" [text]="distanceLeft" class="bigBoldText"></Label>
    </GridLayout>
</CardView>

