<CardView class="cardStyleGraph" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
    <StackLayout *ngIf="!graphService.isGraphDataAvailable" class="p-10">
        <Label *ngIf="!graphService.isGraphDataAvailable" text="Försöker hämta in grafdata..." horizontalAlignment="center"></Label>
        <ActivityIndicator width="50" height="50" row="0"[busy]="!graphService.isGraphDataAvailable" class="activity-indicator"></ActivityIndicator>
    </StackLayout>
    <ns:Carousel #graphCarousel *ngIf="graphService.isGraphDataAvailable" class="cardContent" height="260" width="100%" (pageChanged)="onGraphSwiped($event)" pageTapped="mySelectedEvent"
            indicatorColor="#000000" finite="true" bounce="false" showIndicator="true" verticalAlignment="top"
            android:indicatorAnimation="swap" color="white" indicatorOffset="0,5">
                <ns:CarouselItem id="slide1">
                    <StackLayout>
                        <GridLayout rows="auto,auto">
                            <Label row="0" class="h2 fontBold" horizontalAlignment="center" text="Spårdjup max17 (20m)"></Label>
                            <RadCartesianChart row="1" tkExampleTitle tkToggleNavButton height="220">
                                <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
                                <CategoricalAxis id="hAxis" tkCartesianHorizontalAxis majorTickInterval="10" labelSize="16" ></CategoricalAxis>
                                <LinearAxis tkCartesianVerticalAxis id="vAxis" labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
                                <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="RutDepthMax17"></LineSeries>
                                <ChartPlotBandAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" zPosition="AboveSeries" strokeWidth="2" value="20"
                                    [minValue]="graphService.graphDataStartingLengthCurrent" [maxValue]="graphService.graphDataEndLengthCurrent" fillColor="#ACA0A0A0" strokeColor="#ACA0A0A0">
                                </ChartPlotBandAnnotation>

                            </RadCartesianChart>
                            <!--
                            <GridLayout row="1" *ngIf="graphService.currentSlideService === 0" horizontalAlignment="right"  [columns]="cuColumns" class="currentPositionBar m-y-3">
                                <StackLayout col="1" class="currentPositionBar-value"></StackLayout>
                            </GridLayout>
                            -->


                        </GridLayout>
                    </StackLayout>
                </ns:CarouselItem>
                <ns:CarouselItem id="slide2">
                    <StackLayout>
                        <GridLayout rows="auto,auto">
                            <Label row="0" class="h2 fontBold" horizontalAlignment="center" text="IRI höger (20m)"></Label>
                            <RadCartesianChart row="1" tkExampleTitle tkToggleNavButton height="220">
                                <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
                                <CategoricalAxis id="hAxis" tkCartesianHorizontalAxis majorTickInterval="10" labelSize="16"></CategoricalAxis>
                                <LinearAxis tkCartesianVerticalAxis labelMargin="" labelLayoutMode="outer" labelSize="16" labelFormat="%.1f"></LinearAxis>
                                <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="IRIRight"></LineSeries>
                                <ChartPlotBandAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" zPosition="AboveSeries" strokeWidth="2" value="20"
                                    [minValue]="graphService.graphDataStartingLengthCurrent" [maxValue]="graphService.graphDataEndLengthCurrent" fillColor="#ACA0A0A0" strokeColor="#ACA0A0A0">
                                </ChartPlotBandAnnotation>
                            </RadCartesianChart>
                        </GridLayout>
                    </StackLayout>
                </ns:CarouselItem>
                <ns:CarouselItem id="slide3">
                    <StackLayout>
                        <GridLayout rows="auto,auto">
                            <Label row="0" class="h2 fontBold" horizontalAlignment="center" text="Kantdjup (20m)"></Label>
                            <RadCartesianChart row="1" tkExampleTitle tkToggleNavButton height="220">
                                <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
                                <CategoricalAxis id="hAxis" tkCartesianHorizontalAxis majorTickInterval="10" labelSize="16" ></CategoricalAxis>
                                <LinearAxis tkCartesianVerticalAxis labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
                                <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="EdgeDepth"></LineSeries>
                                <ChartPlotBandAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" zPosition="AboveSeries" strokeWidth="2" value="20"
                                    [minValue]="graphService.graphDataStartingLengthCurrent" [maxValue]="graphService.graphDataEndLengthCurrent" fillColor="#ACA0A0A0" strokeColor="#ACA0A0A0">
                                </ChartPlotBandAnnotation>
                            </RadCartesianChart>
                        </GridLayout>
                    </StackLayout>
                </ns:CarouselItem>
                <ns:CarouselItem id="slide4">
                    <StackLayout>
                        <GridLayout rows="auto,auto">
                            <Label row="0" class="h2 fontBold" horizontalAlignment="center" text="Spårbottentvärfall"></Label>
                            <RadCartesianChart row="1" tkExampleTitle tkToggleNavButton height="220">
                                <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
                                <CategoricalAxis id="hAxis" tkCartesianHorizontalAxis majorTickInterval="10" labelSize="16" ></CategoricalAxis>
                                <LinearAxis tkCartesianVerticalAxis labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
                                <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="CrossfallRutBottom"></LineSeries>
                                <ChartPlotBandAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" zPosition="AboveSeries" strokeWidth="2" value="20"
                                    [minValue]="graphService.graphDataStartingLengthCurrent" [maxValue]="graphService.graphDataEndLengthCurrent" fillColor="#ACA0A0A0" strokeColor="#ACA0A0A0">
                                </ChartPlotBandAnnotation>
                            </RadCartesianChart>
                            <!--
                                <GridLayout row="1" *ngIf="graphService.currentSlideService === 3" horizontalAlignment="right" row="1" [columns]="cuColumns" class="currentPositionBar m-y-3">
                                    <StackLayout col="1" class="currentPositionBar-value"></StackLayout>
                                </GridLayout>
                            -->

                        </GridLayout>
                    </StackLayout>
                </ns:CarouselItem>
            </ns:Carousel>
</CardView>
<!--
<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
    <StackLayout class="cardContent">
        <Label horizontalAlignment="center" class="h2 fontBold" text="IRI höger (20m)"></Label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="180">
            <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
            <CategoricalAxis tkCartesianHorizontalAxis majorTickInterval="6" labelSize="16"></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis labelMargin="" labelLayoutMode="outer" labelSize="12" labelFormat="%.1f"></LinearAxis>
            <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="IRIRight"></LineSeries>
        </RadCartesianChart>
    </StackLayout>
</CardView>
-->

<!--
<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
    <StackLayout class="cardContent">
        <Label horizontalAlignment="center" class="h2 fontBold" text="Kantdjup (20m)"></Label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="180">
            <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
            <CategoricalAxis tkCartesianHorizontalAxis majorTickInterval="6" labelSize="16" ></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
            <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="EdgeDepth"></LineSeries>
        </RadCartesianChart>
    </StackLayout>
</CardView>
-->
<!--
<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
    <StackLayout class="cardContent">
        <Label horizontalAlignment="center" class="h2 fontBold" text="Spårdjup max17 (20m)"></Label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="180">
            <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
            <CategoricalAxis tkCartesianHorizontalAxis majorTickInterval="6" labelSize="16" ></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
            <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="RutDepthMax17"></LineSeries>
        </RadCartesianChart>
    </StackLayout>
</CardView>
-->
<!-- Fungerar inte pga ingen data från api

    <CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
        <StackLayout class="cardContent">
            <Label horizontalAlignment="center" class="h2 fontBold" text="Spårbottentvärfall"></Label>
            <RadCartesianChart tkExampleTitle tkToggleNavButton height="180">
                <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"></Trackball>
                <CategoricalAxis tkCartesianHorizontalAxis majorTickInterval="6" labelSize="16" ></CategoricalAxis>
                <LinearAxis tkCartesianVerticalAxis labelMargin="4" labelLayoutMode="outer" labelSize="16" labelFitMode="rotate" labelFormat="%.1f"></LinearAxis>
                <LineSeries tkCartesianSeries [items]="graphValues" categoryProperty="StartContinuousLength" valueProperty="CrossfallRutBottom"></LineSeries>
            </RadCartesianChart>
        </StackLayout>
    </CardView>
-->
