<CardView class="cardStyle" elevation="40" radius="10" ios:shadowRadius="3" margin="5" >
    <StackLayout class="cardContent">
        <Label horizontalAlignment="center" class="h2 fontBold" text="Iri"></Label>
        <RadCartesianChart tkExampleTitle tkToggleNavButton height="180">
            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
            <LineSeries tkCartesianSeries [items]="_dateTimeSource" categoryProperty="LopandeLangd" valueProperty="Value"></LineSeries>
        </RadCartesianChart>

    </StackLayout>
</CardView>
