
<GridLayout class="page p-5" rows="*, auto" width="100%">
    <StackLayout row="0">
                <GridLayout row="0" rows="auto" columns="*,auto,*">
                    <Button id="settingButton" verticalAlignment="top" horizontalAlignment="left" row="0" col="0" class="fas m-l-15" text="&#xf1de;" (tap)="goToSettings()"></Button>
                    <Image row="0" col="1" src="res://applogo" class="logoimg"></Image>
                </GridLayout>
                <StackLayout class="form m-b-20">
                    <DropDown #countyDD class="input input-rounded countyDropdown" [(ngModel)]="selectedCountyIndex" verticalAlignment="center"
                        (selectedIndexChanged)="onCountyChange($event)" row="0" colSpan="2"></DropDown>
                </StackLayout>
                <StackLayout class="form m-b-30">
                    <DropDown #roadDD class="input input-rounded roadDropdown" [(ngModel)]="selectedRoadIndex" verticalAlignment="center"
                        (selectedIndexChanged)="onRoadChange($event)" row="0" colSpan="2"></DropDown>
                </StackLayout>

                <StackLayout #bottomElt>
                    <Button *ngIf="dataShareService.devmode" row="1" text="TEST-VÄG" class="btn btn-danger btn-rounded-sm btn-large" (tap)="toDashboardWithTestValues()" clearHistory="true"></Button>
                    <Button *ngIf="dataShareService.devmode" row="1" text="TEST-VY" class="btn btn-success btn-rounded-sm btn-large" (tap)="toTestpageWithRealValues()" clearHistory="true"></Button>
                    <Button row="1" text="BEKRÄFTA" class="btn btn-success btn-rounded-sm btn-large" (tap)="toDashboard()" clearHistory="true"></Button>
                </StackLayout>
    </StackLayout>
    <GridLayout row="1" rows="auto" columns="*, auto">
        <Switch col="1" class="m-15" (checked)="true" (checkedChange)="onDevSwitchChange($event)"></Switch>
    </GridLayout>

</GridLayout>

