<!--
<StackLayout class="p-20" row="0">
        <Image src="res://mylogo" stretch="fill" class="logoimg"></Image>
        <StackLayout class="input-field">
            <Label text="Välj län" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteCounties" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoCompleteCounty($event)">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5" ></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field m-t-10" >
            <Label text="Välj väg" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteRoads" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoCompleteRoad($event)">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5"></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="m-t-10">
            <Label text="Välj din destination" class="label destlbl"></Label>
            <TextField [(ngModel)]="destination" class="tfDestination m-t-5" ></TextField>
        </StackLayout>

    </StackLayout>
-->
<GridLayout class="page" rows="*,*, auto" width="100%">
    <Stacklayout row="0">
            <GridLayout rows="auto, auto"
                columns="auto, *">
                    <DropDown #countyDD backroundColor="red" [(ngModel)]="selectedCountyIndex"
                        (selectedIndexChanged)="onCountyChange($event)" row="0" colSpan="2"></DropDown>
                    <Label text="Selected Index:" row="1" col="0" fontSize="18" verticalAlignment="bottom"></Label>
                    <TextField [text]="selectedCountyIndex" row="1" col="1"></TextField>
            </GridLayout>
    </Stacklayout>
    <StackLayout row="1">
        <GridLayout rows="auto, auto"
                columns="auto, *">
                    <DropDown #roadDD backroundColor="red" [(ngModel)]="selectedRoadIndex"
                        (selectedIndexChanged)="onRoadChange($event)" row="0" colSpan="2"></DropDown>
                    <Label text="Selected Index:" row="1" col="0" fontSize="18" verticalAlignment="bottom"></Label>
                    <TextField [text]="selectedRoadIndex" row="1" col="1"></TextField>
            </GridLayout>
    </StackLayout>


    <!-- YOUR BOTTOM BAR (StackLayout). Don't forget to add row="1" -->
    <StackLayout #bottomElt row="2">
        <Button row="1" text="TEST-VÄG" class="btn btn-danger btn-rounded-sm" (tap)="toDashboardWithTestValues()" style="margin-bottom: 10" clearHistory="true"></Button>
        <Button row="1" text="Bekräfta" class="btn btn-primary btn-rounded-sm" (tap)="toDashboard()" style="margin-bottom: 20" clearHistory="true"></Button>
    </StackLayout>
</GridLayout>
