<!--
<StackLayout class="p-20" row="0">
        <Image src="res://mylogo" stretch="fill" class="logoimg"></Image>
        <StackLayout class="input-field">
            <Label text="Välj län" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteCounties" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoCompleteCounty($event)">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5" ></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field m-t-10" >
            <Label text="Välj väg" class="label m-b-5"></Label>
            <RadAutoCompleteTextView [items]="autocompleteRoads" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoCompleteRoad($event)">
                <SuggestionView tkAutoCompleteSuggestionView>
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <GridLayout columns="auto, *">
                            <Label col="1" [text]="item.text" class="p-l-5"></Label>
                        </GridLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="m-t-10">
            <Label text="Välj din destination" class="label destlbl"></Label>
            <TextField [(ngModel)]="destination" class="tfDestination m-t-5" ></TextField>
        </StackLayout>

    </StackLayout>
-->


<GridLayout class="page p-5" rows="auto,auto,auto,auto" width="100%">
    <StackLayout row="0">
        <Image src="res://applogo" class="logoimg"></Image>
    </StackLayout>
    <StackLayout class="form m-b-20" row="1">
        <DropDown #countyDD class="input input-border m-x-15 countyDropdown" [(ngModel)]="selectedCountyIndex" verticalAlignment="center"
            (selectedIndexChanged)="onCountyChange($event)" row="0" colSpan="2"></DropDown>
    </StackLayout>
    <StackLayout class="form m-b-30" row="2">
        <DropDown #roadDD class="input input-border m-x-15 roadDropdown" [(ngModel)]="selectedRoadIndex" verticalAlignment="center"
            (selectedIndexChanged)="onRoadChange($event)" row="0" colSpan="2"></DropDown>
    </StackLayout>

    <StackLayout #bottomElt row="3">
        <Button row="1" text="TEST-VÄG" class="btn btn-danger btn-rounded-sm btn-large" (tap)="toDashboardWithTestValues()" clearHistory="true"></Button>
        <Button row="1" text="TEST-VY" class="btn btn-success btn-rounded-sm btn-large" (tap)="toTestpageWithTestValues()" clearHistory="true"></Button>
        <Button row="1" text="BEKRÄFTA" class="btn btn-success btn-rounded-sm btn-large" (tap)="toDashboard()" clearHistory="true"></Button>
    </StackLayout>
</GridLayout>

