
<StackLayout id="locationContainer" class="p-5 m-5">
    <Label class="h2 m-x-auto m-t-5 font-weight-bold" text="Nuvarande löpande längd"></Label>
    <Label class="h1 m-x-auto m-t-5 font-weight-bold" text="1234m"></Label>
    <StackLayout class="hr-dark m-10"></StackLayout>
    <Label class="h2 m-x-auto" text="Mina koordinater"></Label>
    <Label class="h1 m-x-auto m-t-5" text="lng: {{longitude}}"></Label>
    <Label class="h1 m-x-auto m-t-5" text="lat: {{latitude}}"></Label>
    <Button class="btn btn-rounded-sm btn-primary btn-active" text="Uppdatera" (tap)="updateLocation()"></Button>
</StackLayout>

