

<RadSideDrawer [drawerTransition]="sideDrawerTransition" allowEdgeSwipe="false" >
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">

		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf015;" class="fas mylogo"></Label>
					<Label col="1" text="Hem" class="p-r-10"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf1ea;" class="fas mylogo"></Label>
					<Label col="1" text="Detaljerad information" class="p-r-10"></Label>
				</GridLayout>

				<StackLayout class="hr-dark seperator"></StackLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf05e;" class="fas mylogo"></Label>
					<Label col="1" text="Avsluta" class="p-r-10" (tap)="cancelAlert()"></Label>
				</GridLayout>

			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>

</RadSideDrawer>


